<div class = "container" style = "margin-top: 60px;">
	<h1 style = "text-align: center">List of Routes!</h1>
	<% for route_id in @route_ids %>
		<li><%= "#{route_id} #{RunRoute.find(route_id).shortest_distance_from("42.351593", "-71.087903")}" %></li>
	<% end %>
</div>