/*@font-face { font-family: Sanchez Regular; src: url('fonts/Sanchezregular.otf'); } */

html {
	background-color: antiquewhite;
}
body {
	font-family: Sanchez Regular;
	background: transparent;	
}

legend {
	border-color: grey;
}

#profileContainer {
	background-color: rgba(204, 204, 204, 0.5);
	margin-top: 90px;
	min-height: 700px;
/*	position: fixed;
	left: 10px;
	right: 10px;*/
	border-radius: 10px;
/*	height: -moz-calc(100% - 120px);
	height: -webkit-calc(100% - 120px);
	height: -o-calc(100% - 120px);
	height: calc(100% - 120px);*/
	/*width: -moz-calc(100% - 20px);
	width: -webkit-calc(100% - 20px);
	width: -o-calc(100% - 20px);
	width: calc(100% - 20px);
	max-height: 839px;*/
}
.leftSection {
	display: inline-block;
}
.rightSection {
	height: 100%;
}
.statVal {
	position: absolute;
	right: 15px;
}
.stat { margin-bottom: 15px; }
.statContainer { 
	position: relative;
	overflow: auto;
	padding: 5px;
}
.routeContainer {
	height: -moz-calc(100% - 39px - 20px - 10px);
	height: -webkit-calc(100% - 39px - 20px - 10px);
	height: -o-calc(100% - 39px - 20px - 10px);
	height: calc(100% - 39px - 20px - 10px);
	overflow: auto;
	margin-bottom: 0;
}
#goalsPlus { opacity: 0.5; top: 13px;}
#goalsPlus:hover {
	opacity: 1;
	cursor: pointer;
}
.profRouteEntry { position: relative; max-height: 140px; overflow: hidden; height: 40px; cursor: pointer; }
.profRouteEntry:hover { background-color: white; }
.wptsList { 
	height: -moz-calc(100% - 60px);
	height: -webkit-calc(100% - 60px);
	height: -o-calc(100% - 60px);
	height: calc(100% - 60px);
	overflow: auto;
 }