body {
	font-family: Sanchez;
}
.routeContainer {
	background-color: white;
	border-radius: 5px;
	margin-top: 10px;
	padding: 5px;
	height: 115px;
}

.profRouteEntry { position: relative; overflow: hidden; }
.wptsList { 
	height: -moz-calc(100% - 41px);
	height: -webkit-calc(100% - 41px);
	height: -o-calc(100% - 41px);
	height: calc(100% - 41px);
	overflow: auto;
 }