<!DOCTYPE html>
<html>
	<head>
		<title>RunThisTown</title>
		<script type="text/javascript" src = "http://code.jquery.com/jquery-1.10.2.js"></script>
		<script type="text/javascript" src = "http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>	
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
		<link href='http://fonts.googleapis.com/css?family=Sanchez' rel='stylesheet' type='text/css'>
	</head>
	<body>

		<%= yield %>
	</body>
</html>
